extends layout

block content
    nav(class='navbar navbar-default')
        div(class='container-fluid')
            div(class='navbar-header')
                button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-options', aria-expanded='false')
                    span(class='sr-only') Toggle navigation
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                a(class='navbar-brand') #{title}
            div(class='collapse navbar-collapse', id='navbar-options')
                ul(class='nav navbar-nav')
                    li(class='dropdown')
                        a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') File
                        ul(class='dropdown-menu')
                            li
                                a(href='#', id='loadB', data-toggle='modal', data-target='#loadD') Load...
                            li
                                a(href='#', id='screenshot') Screen Shot
                    li(class='dropdown')
                        a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') View
                        ul(class='dropdown-menu')
                            li
                                a(href='#') Genes
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#') Controls
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#') Sungear
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#') GO Terms
                                    //span(class='glyphicon glyphicon-ok')
                            li(role='separator', class='divider')
                            li
                                a(href='#') GeneLights
                                    //span(class='glyphicon glyphicon-ok')
                            li(role='separator', class='divider')
                            li
                                a(href='#', id='reposition') Reposition
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#', id='relax-vessels', title='true') Relax Vessels
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#', id='full-screen') Full Screen
                                    //span(class='glyphicon glyphicon-ok')
                    li(class='dropdown')
                        a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', id='helpM') Help
                        ul(class='dropdown-menu')
                            li
                                a(href='#', id='helpI', data-toggle='modal', data-target='#aboutD') About...
                            li
                                a(href='#', id='infoI') File Info...

    div(class='container')

        div(class='col-md-3')
            div(id='geneF', class='img-rounded')
                h3 Genes
                div(id='table-wrapper')
                    div(id='table-scroll')
                        // potentially make the below class img-rounded?
                        table(class='table table-striped', id='geneFTable')
                            col(width='80px')
                            col
                            thead
                                tr
                                    th ID
                                    th Description
                            tbody(id='geneTBody')

                input(type='text', name='findF', id='findF')
                a(class='btn btn-primary', id='findSelectB', role='button', data-toggle='tooltip') Find
                a(class='btn btn-primary', id='collapseT', role='button', data-toggle='tooltip')
                    span(class='glyphicon glyphicon-menu-hamburger')
                p(id='statusF') TBD
                span(data-toggle='modal', data-target='#queryD')
                    a(class='btn btn-primary', id='queryB', role='button', data-toggle="tooltip") Query
                button(class='btn btn-primary', id='copyB', role='button', data-clipboard-action="copy", data-toggle="tooltip")
                    span Copy

        div(class='col-md-6')
            div(id='controlF', class='img-rounded')
                // Control Dialog
                h3 Controls
                div(id='controlFbuttons')
                    li
                        button(class='btn btn-primary', id='restartB', role='button', data-toggle='tooltip') Restart
                    li
                        button(class='btn btn-primary', id='allB', role='button', data-toggle='tooltip') All
                    li
                        button(class='btn btn-primary', id='noneB', role='button', data-toggle='tooltip') None
                    li
                        button(class='btn btn-primary', id='backB', role='button', data-toggle='tooltip') <<
                    li
                        button(class='btn btn-primary', id='forwardB', role='button', data-toggle='tooltip') >>
                    li
                        button(class='btn btn-primary', id='narrowB', role='button', data-toggle='tooltip') Narrow
                    li
                        button(class='btn btn-primary', id='unionB', role='button', data-toggle='tooltip')
                            span(class='glyphicon glyphicon-plus-sign')
                    li
                        button(class='btn btn-primary', id='intersectB', role='button', data-toggle='tooltip')
                            span(class='glyphicon glyphicon-adjust')
                    li(class='dropdown')
                        button(class='btn btn-primary dropdown-toggle', id='coolB', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Find Cool
                        ul(class='dropdown-menu', id='coolM')
                div(id='table-wrapper')
                    div(id='group-table-scroll')        
                      table(class='table table-striped img-rounded', id='controlFtable')
                          thead(id='controlFtableHeader')
                              tr
                                  th(id='controlFtableAdd', class="col-md-1") +/-
                                  th(class="col-md-4") Name
                                  th(class="col-md-3") # of Genes
                                  th(class="col-md-1", id='controlFtableUnion') 
                                  th(class="col-md-1", id='controlFtableIntersect')
                                  th(class="col-md-1", id='controlFtableSubtract')
                                  th(class="col-md-1", id='controlFtableSelect')
                          tbody(id='controlFtableBody')

                div(id='controlFbottom')
                    a(class='btn btn-primary', id='removeB', role='button') Remove
                    a(class='btn btn-primary', id='exportB', role='button') Export

            div(id='sungearF', class='img-rounded')
                h3 Sungear
                div(id='sungearGui')

        div(class='col-md-3')
            div(id='goTerms', class='img-rounded')
                h3 GO Terms
                div(id='goTop')
                    a(class='btn btn-primary', id='goExpandB', role='button', data-toggle='tooltip') Expand All
                    a(class='btn btn-primary', id='goCollapseB', role='button', data-toggle='tooltip') Collapse All
                div(id='goHierarchy', class='img-rounded')
                    ul(id='goTree', class="nav nav-list")
                        //li Potato
                        //li Tomato
                        //ul
                        //    li Risotto
                        //    ul
                        //        li Christianity
                        //        ul
                        //            li Jesus
                        //            ul
                        //                li Disciples
                        //        li Judaism
                        //        li Islam
                        //    li Penne
                        //li Chocolate

                div(id='goZscore', class='img-rounded')
                    ul(id='goList', class="list-group")

                input(type='text', name='zSearch', id='goFindF')
                button(class='btn btn-primary', id='goFindB', role='button', data-toggle='tooltip') Find
                button(class='btn btn-primary', id='goCollapseT', role='button', data-toggle='tooltip')
                    span(class='glyphicon glyphicon-menu-hamburger')
                button(class='btn btn-primary', id='goListLeafT', role='button', data-toggle='tooltip')
                    span(class='glyphicon glyphicon-eye-close')
                button(class='btn btn-primary', id='goListAllT', role='button', data-toggle='tooltip')
                    span(class='glyphicon glyphicon-eye-open')
                div(class='dropdown')
                    button(class='btn btn-primary dropdown-toggle', id='goThreshB', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span(class='glyphicon glyphicon-th-list')
                    ul(class='dropdown-menu', id='threshM')

                p(id='goStatusF') GO Terms: ####
                a(class='btn btn-primary', id='goCopyB', data-clipboard-action="copy", role='button', data-toggle='tooltip') Copy
                select(id='goSortB')
                    //option(disabled, selected, value) --select a sort option--
                    option(value='zScore') Sort by Z-Score
                    option(value='name') Sort by Name
                    option(value='count') Sort by Count

    // Load Dialog
    div(class='modal fade', id='loadD', tabindex='-1', role='dialog', aria-labelledby='loadDLabel')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='loadDLabel') Experiments
                div(class='modal-body')
                    table(id='loadTable' class='table-striped')
                        col(width="20%")
                        col(width="45%")
                        col(width="10%")
                        thead
                            tr
                                th Name
                                th Description
                                th Species
                        tbody(id='loadBody')

                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Cancel
                    button(type='button', class='btn btn-primary', id='openB', data-dismiss='modal') Open
    // About Dialog
    div(class='modal fade', id='aboutD', tabindex='-1', role='dialog', aria-labelledby='aboutDLabel')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='aboutDLabel') TBA
                div(class='modal-body', id='aboutDBody')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Close

    // Query Dialog
    div(class='modal fade', id='queryD', tabindex='-1', role='dialog', aria-labelledby='queryDLabel')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='queryDLabel') TBA
                div(class='modal-body')
                    textarea(id='queryA', rows='10')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Cancel
                    button(type='button', class='btn btn-primary', id='queryDSubmit', data-dismiss='modal') OK
    // Stats Dialog
    div(class='modal fade', id='statsF', tabindex='-1', role='dialog', aria-labelledby='statsFLabel')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='statsFLabel') Stats
                div(class='modal-body')
                    table(id='statsTable' class='table-striped')
                        thead
                            tr
                                th Anchors
                                th Vessels
                                th Genes
                        tbody(id='statsTBody')

                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Cancel
                    button(type='button', class='btn btn-primary', id='statsFSubmit', data-dismiss='modal') OK

    // Results Dialog
    div(class='modal fade', id='resultsF', tabindex='-1', role='dialog', aria-labelledby='resultsFLabel')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='resultsFLabel') Results
                // TODO: Finish implementation

                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Cancel
                    button(type='button', class='btn btn-primary', id='resultsFSubmit', data-dismiss='modal') OK

    div(class='modal fade', id='findD', tabindex='-1', role='dialog', aria-labelledby='findD')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='findDLabel') Results
                    div(class='findL')
                div(class='modal-body')
                    table(id='findLTable' class='table-striped')
                        thead
                            tr
                                th ID
                                th Name
                        tbody(id='findLTBody')

                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Cancel
                    button(type='button', class='btn btn-primary', id='findDSubmit', data-dismiss='modal') OK

    input(type='hidden', id='vis' value=JSON.stringify(data))

    script(src='/javascripts/lib/clipboard.min.js')
    script(src='/javascripts/lib/jquery-2.2.4.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')

    //script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    //script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

    script(src='/javascripts/out.js')
