extends layout

block content
    nav(class='navbar navbar-default')
        div(class='container-fluid')
            div(class='navbar-header')
                button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-options', aria-expanded='false')
                    span(class='sr-only') Toggle navigation
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                a(class='navbar-brand') #{title}
            div(class='collapse navbar-collapse', id='navbar-options')
                ul(class='nav navbar-nav')
                    li(class='dropdown')
                        a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') File
                        ul(class='dropdown-menu')
                            li
                                a(href='#', id='nav-load') Load...
                            li
                                a(href='#', id='screenshot') Screen Shot
                    li(class='dropdown')
                        a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') View
                        ul(class='dropdown-menu')
                            li
                                a(href='#') Genes
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#') Controls
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#') Sungear
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#') GO Terms
                                    //span(class='glyphicon glyphicon-ok')
                            li(role='separator', class='divider')
                            li
                                a(href='#') GeneLights
                                    //span(class='glyphicon glyphicon-ok')
                            li(role='separator', class='divider')
                            li
                                a(href='#', id='reposition') Reposition
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#', id='relax-vessels', title='true') Relax Vessels
                                    //span(class='glyphicon glyphicon-ok')
                            li
                                a(href='#', id='full-screen') Full Screen
                                    //span(class='glyphicon glyphicon-ok')
                    li(class='dropdown')
                        a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', id='helpM') Help
                        ul(class='dropdown-menu')
                            li
                                a(href='#', id='helpI', data-toggle='modal', data-target='#aboutD') About...
                            li
                                a(href='#', id='infoI') File Info...

    div(class='container')

        div(class='col-md-3')
            div(id='geneF', class='img-rounded')
                h3 Genes
                table(class='table table-striped img-rounded', id='geneFtable')
                    thead
                        tr
                            th ID
                            th Description
                    tbody(id='geneTableBody')

                input(type='text', name='geneSearch', id='geneSearch')
                a(class='btn btn-primary', id='findSelectB', role='button', data-toggle='tooltip') Find
                a(class='btn btn-primary', id='collapseT', role='button', data-toggle='tooltip')
                    span(class='glyphicon glyphicon-align-justify')
                p(id='geneCount') TBD
                span(data-toggle='modal', data-target='#queryD')
                    a(class='btn btn-primary', id='queryB', role='button', data-toggle="tooltip") Query
                a(class='btn btn-primary', id='copyB', role='button', data-toggle="tooltip") Copy

        div(class='col-md-6')
            div(id='controlF', class='img-rounded')
                // Control Dialog
                h3 Controls
                ul(id='controlFbuttons')
                    li
                        a(class='btn btn-primary', id='restartB', role='button', data-toggle='tooltip') Restart
                        a(class='btn btn-primary', id='allB', role='button', data-toggle='tooltip') All
                        a(class='btn btn-primary', id='noneB', role='button', data-toggle='tooltip') None
                        a(class='btn btn-primary', id='backB', role='button', data-toggle='tooltip') <<
                        a(class='btn btn-primary', id='forwardB', role='button', data-toggle='tooltip') >>
                        a(class='btn btn-primary', id='narrowB', role='button', data-toggle='tooltip') Narrow
                        a(class='btn btn-primary', id='unionB', role='button', data-toggle='tooltip')
                            span(class='glyphicon glyphicon-plus-sign')
                        a(class='btn btn-primary', id='intersectB', role='button', data-toggle='tooltip')
                            span(class='glyphicon glyphicon-adjust')
                        a(class='btn btn-primary', id='coolB', role='button', data-toggle='tooltip') Find Cool
                            // TODO: @Dennis add a dropdown menu to this button which is toggle-able.
                table(class='table table-striped img-rounded', id='controlFtable')
                    thead(id='controlFtableHeader')
                        tr
                            th(id='controlFtableAdd') +/-
                            th Name
                            th # of Genes
                            th View Group
                    tbody(id='controlFtableBody')

                div(id='controlFbottom')
                    a(class='btn btn-primary', id='removeB', role='button') Remove
                    a(class='btn btn-primary', id='exportB', role='button') Export

            div(id='sungearF', class='img-rounded')
                h3 Sungear
                div(id='sungearGui')

        div(class='col-md-3')
            div(id='goTerms', class='img-rounded')
                h3 GO Terms
                div(id='goTop')
                    a(class='btn btn-primary', id='expand', role='button') Expand
                    a(class='btn btn-primary', id='collapse', role='button') Collapse
                div(id='goHierarchy', class='img-rounded')
                    ul
                        li GO Terms
                        ul(id='goDir')

                div(id='goZscore', class='img-rounded')
                    ul(id='goList')

                input(type='text', name='zSearch', id='zSearch')
                a(class='btn btn-primary', id='zFind', role='button') Find
                p(id='goCount') GO Terms: ####
                a(class='btn btn-primary', id='goCopy', role='button') Copy
                select(id='sort', class='btn btn-primary')
                    option(disabled, selected, value) --select a sort option--
                    option(value='zScore') Sort by Z-Score
                    option(value='name') Sort by Name
                    option(value='count') Sort by Count

    // About Dialog
    div(class='modal fade', id='aboutD', tabindex='-1', role='dialog', aria-labelledby='aboutDLabel')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='aboutDLabel') TBA
                div(class='modal-body', id='aboutDBody')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Close
    // Query Dialog
    div(class='modal fade', id='queryD', tabindex='-1', role='dialog', aria-labelledby='queryDLabel')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='queryDLabel') TBA
                div(class='modal-body')
                    textarea(id='queryA', rows='10')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Cancel
                    button(type='button', class='btn btn-primary', id='queryDSubmit', data-dismiss='modal') OK
    // Stats Dialog
    div(class='modal fade', id='statsF', tabindex='-1', role='dialog', aria-labelledby='statsFLabel')
        div(class='modal-dialog', role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title', id='statsFLabel') Stats
                div(class='modal-body')
                    table(id='statsTable' class='table-striped')
                        thead
                            tr
                                th Anchors
                                th Vessels
                                th Genes
                        tbody(id='statsBody')
                            tr
                                td This
                                td is
                                td test
                            tr
                                td data
                                td please
                                td ignore
                            tr
                                td it
                                td for
                                td now
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') Cancel
                    button(type='button', class='btn btn-primary', id='statsFSubmit', data-dismiss='modal') OK

    script(src='/javascripts/out.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')