body {
    /*background-color: #F3EFE0;*/
    color: #404040;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    padding-left: 20px;
}

h3 {
    color: #F3EFE0;
    padding-left: 10px;
}

a {
    color: #3399FF;
}

#sunGui {
    width: 100%;
    height: 300px;
}

.container {
    padding-top: 20px;
}

.btn {
    border: 0 none;
    padding: 4px 6px;
    font-size: 15px;
    margin: 3px;
}

.btn-primary {
    background-color: #3399FF;
    border: 0 none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #2288EE;
}

#geneF {
    background-color: #404040;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sungearF {
    background-color: #111;
    height: 400px;
    padding: 5px;
    color: #F3EFE0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sungearGui {
    width: 100%;
    height: 325px;
}

#controlF {
    background-color: #404040;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#controlFtable, #geneFtable {
    background-color: #ddd;
    width: 100%;
    height: 100px;
    color: #404040;
}

tr {
    width: 100%;
}

.table-striped tbody tr.highlight td {
    background-color: #9A3334;
    color: #F3EFE0;
}

#controlFbuttons {
    padding: 0;
    list-style-type: none;
    list-style: none;
    text-align: center;
}

#controlFbuttons li {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
}

#controlFbottom, #goTop {
    text-align: center;
}

#goTerms {
    background-color: #404040;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#goHierarchy {
    background-color: #ddd;
    margin-top: 10px;
    height: 100px;
    overflow: auto;
}

#goZscore {
    background-color: #ddd;
    margin-top: 10px;
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;
}

#goCount, #geneCount {
    padding-top: 10px;
    color: #F3EFE0;
}
