body {
    /*background-color: #F3EFE0;*/
    background-color: #EEEEEE;
    color: #404040;
    font-family: 'Noto Sans', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    padding-left: 20px;
}

h3 {
    /*color: #F3EFE0;*/
    color: #DDDDDD;
    padding-left: 10px;
}

a {
    color: #3399FF;
}

textarea {
    width: 100%;
}

table {
    table-layout: fixed;
}

#sunGui {
    width: 100%;
    height: 300px;
}

.container {
    background-color: #EEEEEE;
}

.btn {
    border: 0 none;
    padding: 4px 6px;
    font-size: 15px;
    margin: 3px;
}

.btn-primary {
    background-color: #3399FF;
    border: 0 none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #2288EE;
}

#geneF {
    background-color: #404040;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sungearF {
    background-color: #111;
    height: 400px;
    padding: 5px;
    /*color: #F3EFE0;*/
    color: #DDDDDD;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sungearGui {
    width: 100%;
    height: 325px;
}

#controlF {
    background-color: #404040;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#controlFtable, #geneFTable {
    background-color: #ddd;
    width: 100%;
    height: 100px;
    color: #404040;
    overflow: auto;
    cursor: pointer;
}

#statusF {
    color: #ddd;
}

.gene-id {
    font-family: monospace;
}

tr {
    width: 100%;
    height: 10px;
}

.table-striped tbody tr.highlight td, #goList .highlight {
    background-color: #2288EE;
    /*color: #F3EFE0;*/
    color: #FFFFFF;
}

.table-striped tr {
    padding-left: 10px;
}

#controlFbuttons {
    padding: 0;
    list-style-type: none;
    list-style: none;
    text-align: center;
}

#controlFbuttons li {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
}

#coolM li {
    display: block;
}

#controlFbottom, #goTop {
    text-align: center;
}

#goTerms {
    background-color: #404040;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#goHierarchy {
    background-color: #ddd;
    margin-top: 10px;
    height: 100px;
    overflow: auto;
}

#goZscore {
    background-color: #ddd;
    margin-top: 10px;
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;
}

#goStatusF, #geneCount {
    padding-top: 10px;
    /*color: #F3EFE0;*/
    color: #DDDDDD;
}


#findF {
    /**width: 150px;*/
    width: 65%;
}

#statsTable,#findLTable{
    width: 100%;
}

#loadTable {
    width: 100%;
}

.td-container {
    position: relative;
}

.td-content {
    position: absolute;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spacer {
    height: 0;
    overflow: hidden;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    height:400px;
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    width:100%;
}

.faded {
    color : #666666;
}

.selected {
    color : #0a6aa1;
}

#goHierarchy ul {
    padding-left: 10px;
    /*list-style-position: inside;*/
}

ul {
    cursor: pointer;
    list-style:none;
}
#goTree span + li{
  display: inline-block;
  font-family : 'Noto Sans', sans-serif;
  margin-left: 10px;
}

#goTree ul > li {
    margin-left: 10px;
}


/*#goHier {*/
    /*list-style-type: none;*/
/*}*/

/*#table-wrapper table thead {*/
    /*position:absolute;*/
/*}*/
